<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script>
                $(document).ready(function(){
                    $("h1").onmouseover(function () {
                        $('h1').css({"color": "red"});
                    });

                });
            </script>
        {% endblock %}
    </body>
</html>
